<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
	<BT_CurrentModVersion_Label>Установленная версия мода: {0}</BT_CurrentModVersion_Label>
	<BT_SettingTitle_DemandModifier>Модификатор потребности торговца</BT_SettingTitle_DemandModifier>
	<BT_SettingTitle_DemandHintThreshold>Порог отображения модификатора потребности торговца</BT_SettingTitle_DemandHintThreshold>
	<BT_SettingTitle_DemandPriceTypeThreshold>Порог игнорирования потребности в зависимости от модификатора цены</BT_SettingTitle_DemandPriceTypeThreshold>
	<BT_SettingDesc_DemandModifier>Каждый торговец имеет случайный уровень потребности в каждом товаре.\nЗначение по умолчанию: 0.4</BT_SettingDesc_DemandModifier>
	<BT_SettingDesc_DemandHintThreshold>Минимальный уровень потребности торговца в товаре, при котором будет отображаться цветная подсказка в торговом окне.\nЗначение по умолчанию: 0.25</BT_SettingDesc_DemandHintThreshold>
	<BT_SettingDesc_DemandPriceTypeThreshold>Максимальное значение модификатора цены, при котором модификатор потребности торговца в товаре становится равным 0. Промежуточные значения интерполируются.\nЗначение по умолчанию: 0.5</BT_SettingDesc_DemandPriceTypeThreshold>
	<BT_SettingTitle_noSellCap>Убрать ограничение цены продажи</BT_SettingTitle_noSellCap>
	<BT_SettingDesc_noSellCap>Обычно цена продажи не может превышать цену покупки; данный пункт настройки снимает это ограничение. Только не злоупотребляйте этим :)</BT_SettingDesc_noSellCap>
	<BT_SettingTitle_invertedColors>Инвертировать цвета покупки/продажи</BT_SettingTitle_invertedColors>
	<BT_SettingDesc_invertedColors>Включение этого пункта настройки меняет местами красные и зеленые подсказки в торговом окне.</BT_SettingDesc_invertedColors>
	<BT_SettingTitle_ShowAdvanced>Показать расширенные настройки</BT_SettingTitle_ShowAdvanced>
	<BT_SettingDesc_ShowAdvanced>Эти настройки позволят скорректировать расчёт торговой цены оригинальной игры.</BT_SettingDesc_ShowAdvanced>
	<BT_SettingTitle_MinimalPrice>Минимальная цена</BT_SettingTitle_MinimalPrice>
	<BT_SettingTitle_SellingModifier>Базовый модификатор продажи</BT_SettingTitle_SellingModifier>
	<BT_SettingTitle_BuyingModifier>Базовый модификатор покупки</BT_SettingTitle_BuyingModifier>
	<BT_SettingTitle_NegotiatorBonus>Бонус переговорщика</BT_SettingTitle_NegotiatorBonus>
	<BT_SettingTitle_FactionBaseBonus>Базовый бонус торговли с песелениями фракций</BT_SettingTitle_FactionBaseBonus>
	<BT_SettingTitle_DifficultyMultEff>Множитель сложности</BT_SettingTitle_DifficultyMultEff>
	<BT_SettingTitle_PricetypeMultEff>Множитель цены</BT_SettingTitle_PricetypeMultEff>
	<BT_SettingTitle_SellPriceFactorBias>Прибавка к множителю цены продажи</BT_SettingTitle_SellPriceFactorBias>
	<BT_SettingTitle_SellPriceFactorMultEff>Коэффициент множителя цены продажи</BT_SettingTitle_SellPriceFactorMultEff>
	<BT_SettingDesc_MinimalPrice>Минимальная цена для покупки. Минимальная цена для продажи умножается на 0.02.\nЗначение по умолчанию: 0.5</BT_SettingDesc_MinimalPrice>
	<BT_SettingDesc_SellingModifier>Базовый модификатор для продажи.\nЗначение по умолчанию: 0.4</BT_SettingDesc_SellingModifier>
	<BT_SettingDesc_BuyingModifier>Базовый модификатор для покупки.\nЗначение по умолчанию: 0.4</BT_SettingDesc_BuyingModifier>
	<BT_SettingDesc_NegotiatorBonus>Бонус переговорщика для поселенца с максимальным навыком общения.\nЗначение по умолчанию: 0.3</BT_SettingDesc_NegotiatorBonus>
	<BT_SettingDesc_FactionBaseBonus>Базовый бонус торговли с песелениями фракций.\nЗначение по умолчанию: 0.02</BT_SettingDesc_FactionBaseBonus>
	<BT_SettingDesc_DifficultyMultEff>Множитель сложности.\nЗначение по умолчанию: 1</BT_SettingDesc_DifficultyMultEff>
	<BT_SettingDesc_PricetypeMultEff>Множитель цены (пример: нормальная, высокая, непомерная).\nЗначение по умолчанию: 1</BT_SettingDesc_PricetypeMultEff>
	<BT_SettingDesc_SellPriceFactorBias>Прибавка (bias) к множителю цены продажи.\nПерерасчёт множителя цены продажи (sellPriceFactor):\n\n(sellPriceFactor + bias) * mult.\n\nЗначение по умолчанию: 0</BT_SettingDesc_SellPriceFactorBias>
	<BT_SettingDesc_SellPriceFactorMultEff>Коэффициент (mult) множителя цены продажи.\nПерерасчёт множителя цены продажи (sellPriceFactor):\n\n(sellPriceFactor + bias) * mult.\n\nЗначение по умолчанию: 1</BT_SettingDesc_SellPriceFactorMultEff>
</LanguageData>